* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  height: 100vh;
  background: linear-gradient(to bottom , #009688 20% , #DCDBD1 20% , #D2DBDB 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 95%;
  width: 85%;
  display: flex;
}
/* LEFT */
.container aside {
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #d6d6d6;
}
/* USER */
.container aside .user {
  background: #eaeaea;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container aside .user .user-image {
  display: flex;
  align-items: center;
}

.container aside .user .user-image img {
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.container aside .user .icons-left {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container aside .user .icons-left i {
  font-size: 20px;
  color: #b1b1b1;
}
/* NOTIFICATIONS */
.container aside .notifications {
  padding: 20px;
  background: #8EDAFC;
}
/* SEARCH */
.container aside .search {
  padding: 20px;
  background: #FAFAFA;
}
/* CONTACTS */
.container aside .contacts {
  background: #fff;
  flex-grow: 1;
}

.container aside .contacts .contact-image {
  border-bottom: 2px solid #f5f5f5;
  padding: 10px;
}

.container aside .contacts .contact-image:last-child {
  border: none;
}

.container aside .contacts .contact-image a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #000;
}

.container aside .contacts .contact-image img {
  height: 55px;
  border-radius: 50%;
  margin-right: 10px;
}
/* RIGHT */
.container main {
  flex-basis: 65%;
  display: flex;
  flex-direction: column;
}
/* HEADER */
.container main .header {
  background: #eaeaea;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container main .header .user-image {
  display: flex;
  align-items: center;
}

.container main .header .user-image img {
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.container main .header .icons-right {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container main .header .icons-right i {
  font-size: 20px;
  color: #b1b1b1;
}
/* CENTRAL */
.container main .central {
  background-image: url('../img/mine.jpg');
  flex-grow: 1;
  overflow-y: auto;
}
/* FOOTER */
.container main .footer {
  background: #f3eeea;
  padding: 20px;
}
