* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  height: 100vh;
  background: linear-gradient(to bottom , #009688 20% , #DCDBD1 20% , #D2DBDB 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 95%;
  width: 85%;
  background: #fff;
  display: flex;
}

.container aside {
  flex-basis: 35%;
  background: #ccc;
}

.container main {
  flex-basis: 65%;
  background: #aaa;
}
