* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  height: 100vh;
  background: linear-gradient(to bottom , #009688 20% , #DCDBD1 20% , #D2DBDB 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 95%;
  width: 85%;
  display: flex;
}
/* LEFT */
.container aside {
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
}
/* USER */
.container aside .user {
  background: #eaeaea;
  padding: 20px;
}
/* NOTIFICATIONS */
.container aside .notifications {
  padding: 20px;
  background: #8EDAFC;
}
/* SEARCH */
.container aside .search {
  padding: 20px;
  background: #FAFAFA;
}
/* CONTACTS */
.container aside .contacts {
  background: #fff;
  flex-grow: 1;
}
/* RIGHT */
.container main {
  flex-basis: 65%;
  display: flex;
  flex-direction: column;
}
/* HEADER */
.container main .header {
  background: #eaeaea;
  padding: 20px;
}
/* CENTRAL */
.container main .central {
  background-image: url('../img/mine.jpg');
  flex-grow: 1;
  overflow-y: auto;
}
/* FOOTER */
.container main .footer {
  background: #f3eeea;
  padding: 20px;
}
