<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <!-- CSS -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>js-html-css-boolzap</title>
  </head>

  <body>
    <div class="container" id="app">
      <!-- LEFT -->
      <aside>
        <!-- USER -->
        <div class="user">
          <div class="user-image">
            <img :src="'./img/avatar' + user.avatar + '.jpg'" alt="user avatar">
            <span>{{ user.name }}</span>
          </div>
          <!-- USER ICON LEFT -->
          <div class="icons-left">
            <a href="#">
              <i class="fas fa-circle-notch"></i>
            </a>
            <a href="#">
              <i class="fas fa-comment-alt"></i>
            </a>
            <a href="#">
              <i class="fas fa-ellipsis-v"></i>
            </a>
          </div>
        </div>
        <!-- NOTIFICATIONS -->
        <div class="notifications">
          <i class="fas fa-bell-slash"></i>
          <div class="activate-notifications">
            <span>Ricevi notifiche di nuovi messaggi</span>
            <a href="#">
              Attiva notifiche desktop
            </a>
          </div>
        </div>
        <!-- SEARCH -->
        <div class="search">
          <div class="search-button">
            <button type="button" name="search"><i class='fas fa-search'></i></button>
            <input type="text" placeholder='Cerca o inizia una nuova chat'>
          </div>
        </div>
        <!-- CONTACTS -->
        <div class="contacts">
          <div
          v-for='(contact , index) in contacts'
          class="contact-image"
          :class="index === indexContact ? 'active' : ''"
          @click="getActive(index)"
          >
            <a href="#" >
              <img :src="'./img/avatar' + contact.avatar + '.jpg'" :alt="contact.name +  ' avatar'">
              <span>{{ contact.name }}</span>
            </a>
          </div>
        </div>
      </aside>
      <!-- RIGHT -->
      <main>
        <!-- HEADER -->
        <section class="header">
          <div class="user-image">
            <img :src="'./img/avatar' + contacts[indexContact].avatar + '.jpg'" :alt="contacts[indexContact].name +  ' avatar'">
            <div class="user-detail">
              <span>{{ contacts[indexContact].name }}</span>
              <p>Ultimo accesso oggi alle 10.35</p>
            </div>
          </div>
          <!-- ICON RIGHT -->
          <div class="icons-right">
            <a href="#">
              <i class="fas fa-search"></i>
            </a>
            <a href="#">
              <i class="fas fa-paperclip"></i>
            </a>
            <a href="#">
              <i class="fas fa-ellipsis-v"></i>
            </a>
          </div>
        </section>
        <!-- CENTRAL -->
        <section class="central">
          <div v-for="(message , index) in contacts[indexContact].messages" class="contactMessage" :class="message.status === 'sent' ? 'endLine' : 'startLine'">
            <div class="message">
              <span>{{ message.message }}</span>
              <p>{{ message.date }}</p>
              <i class="fas fa-angle-down hideShow"></i>
            </div>
          </div>
        </section>
        <!-- FOOTER -->
        <section class="footer">
          <a href="#">
            <i class="far fa-smile"></i>
          </a>
          <input type="text" placeholder='Scrivi un messaggio' v-model='userMessage' @keyup.enter="submit">
          <a href="#">
            <i class="fas fa-microphone"></i>
          </a>
        </section>
      </main>
    </div>
    <!-- DAY.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.9.6/dayjs.min.js" charset="utf-8"></script>
    <!-- JAVASCRIPT -->
    <script src="./js/main.js" charset="utf-8"></script>
  </body>
</html>
